.cardSize {
  min-width: 200px;
  border: 1px solid rgb(214, 222, 230);
  .card-content {
    background-color: rgb(112, 112, 228);
  }
  .textAlignTitle {
    text-align: center;
    color: #fff;
    font-size: 13px;
    background-color: rgb(58, 59, 63);
    padding: 10px;
    margin-bottom: 20px;
  }
  .card-content-text {
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
  }
}
